@font-face {
    font-family: 'great_vibesregular';
    src: url('./fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('./fonts/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-1: white;
    --color-2: rgba(45, 44, 44, 0.504);
    --color-3: rgb(226, 226, 226);
    --color-4: rgb(77, 95, 92);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.sidebar{
    background-image: url(./Images/background-image.jpg);
    background-size: cover;
    width: 30%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    margin: clamp(50px, 25vh, 200px) auto 0;
    width: 100%;
    background-color: var(--color-2);
    text-align: center;
    padding: 5px;
}


.logo img{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    
}

.logo span{
    font-family: 'great_vibesregular';
    font-size: 40px;
    font-weight: 500;
    color: var(--color-1);
    display: inline-block;
    transform: translate(0, 8px);
}

.footer{
    margin: 0 auto 5px;
    color: var(--color-1);
    font-size: 12px;
}

.footer a{
    color: var(--color-1);
}

.sign-up-form{
    flex: 1 1 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sign-up-form > * {
    flex: 1 1 auto;

}

.para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 200px 30px 30px;
    background-color: var(--color-3);
    height: 35%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-weight: bold;
}

.call-to-action{
    padding: 20px 0 0 100px;
}

.input-container{
    padding: 50px 300px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    font-size: 11px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    

}

.input-group{
    margin-left: 50px;
    margin-bottom: 30px;
    flex: 1 1 auto;
}

input{
    display: block;
    width: 200px;
}

input:user-invalid{
    border: 2px solid red;
}

input:user-valid{
    border: 2px solid green;
}

input:focus{
    border: 2px solid blue;
    outline: none;
}

.buttons-container{
    background-color: var(--color-3);
    height: 35%;
    padding: 30px 0 0 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11px;
}

.button{
    color:aliceblue;
    background-color: var(--color-4);
    border-color:var(--color-4);
    border-radius: 6px;
    padding: 3px 10px;
    font-size: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 120px;
}

.buttons-container a{
    text-decoration: none;
}