@font-face {
    font-family: 'great_vibesregular';
    src: url('./fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('./fonts/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-1: white;
    --color-2: rgba(45, 44, 44, 0.504);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: stretch;
}
.sidebar{
    background-image: url(./Images/background-image.jpg);
    background-size: cover;
    width: 30%;
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    margin: clamp(50px, 25vh, 200px) auto 0;
    width: 100%;
    background-color: var(--color-2);
    text-align: center;
    padding: 5px;
}


.logo img{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    
}

.logo span{
    font-family: 'great_vibesregular';
    font-size: 40px;
    font-weight: 500;
    color: var(--color-1);
    display: inline-block;
    transform: translate(0, 8px);
}

.footer{
    margin: 0 auto 5px;
    color: var(--color-1);
    font-size: 12px;
}

.footer a{
    color: var(--color-1);
}

.form{
    flex: 3 0 auto;
    width: 70%;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
}

input{
    display: block;
}
